.login {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.image {
  display: block;
  height: 600px;

  width: 480px;
  background: url('../../Assets/login.jpg') no-repeat center center;
  background-size: 100%;
}

.forms {
  width: 30rem;
  padding: 2rem;
}

@media (max-width: 40rem) {
  .image {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
