.login {
  min-height: 100vh;
  display: flex;
}

.image {
  display: block;
  height: 550px;

  width: 350px;
  background: url('../../Assets/login.jpg') no-repeat;
  background-size: 100%;
}

.forms {
  width: 30rem;
  padding: 2rem;
  margin-top: 20vh;
}

@media (max-width: 40rem) {
  .image {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
