.photo {
  width: 160px;
  height: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: grid;
  cursor: pointer;
}

.photo img {
  grid-area: 1/1;
}

.view {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  display: none;
}

.view::before {
  width: 16px;
  height: 18px;
  content: '';
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
  margin-top: 5px;
}

.photo:hover .view {
  display: flex;
}
