.photoPost {
  display: flex;
  margin-bottom: 2rem;
}

@media (max-width: 40rem) {
  .photoPost {
    flex-direction: column;
  }

  .preview {
    margin-top: 2rem;
    max-width: 420px;
  }
}

.file {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
  margin-left: 30px;
}

.preview::after {
  content: '';
  display: block;
  height: 8px;
  width: 330px;
  padding-bottom: 100%;
}
